.view-teams.view-in-course {
    .action-cancel,
    .action-edit-team,
    .action-remove-member {
        border-color: $base-color !important;
        color: $base-color;

        &:hover {
            background: $base-color;
            color: $white;
        }
    }

    .action-primary,
    .card .card-actions .action-view {
        color: $white;
        background: $base-color;
        border: 1px solid $base-color !important;

        &:hover {
            background: darken($base-color, 10%);
        }
    }
}
