.nav-utilities.has-utility-calculator {
    z-index: 10000;
}

.calc-main #calculator_wrapper form .input-wrapper .help-wrapper {
    #calculator_hint {
        border: none;
        box-shadow: none;
    }

    .help {
        max-height: calc(100vh - 110px);
        overflow-y: auto !important;
    }
}
