.cc-grower {
    background: #f2f2f2;
    box-shadow: inset 0 0 6px rgba($black, .1);
}

#cookiepopup {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding: 17px 15px 20px;
    background: transparent;
    color: #474747;
    bottom: 0;
    font-family: $font-family-sans-serif;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }

    #dismiss {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;
        width: 15px;
        height: 15px;
        background: transparent;
        text-decoration: none;
        font: 400 25px/12px $font-family-sans-serif;
        box-shadow: none;
        min-width: auto;
        border: none;
        outline: none;
        opacity: .5;
        color: $base-color;
        transition: all .2s ease;

        @include rtl {
            right: auto;
            left: 15px;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .cc-compliance {
        min-width: 40px;
    }

    .cc-message {
        margin-bottom: 0;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .cc-link {
        display: none;
    }
}
