.content-wrapper .course-tabs {
    overflow: auto !important;

    .tab a {
        position: relative;
    }
}

#course-container {
    box-sizing: border-box;
    word-break: break-word;
    background: $white;

    .page-header,
    .page-content {
        padding: 20px;

        .page-header-search {
            max-width: 100%;

            @include media-breakpoint-down(xs) {
                margin-right: 0;
            }

            .search-form {
                max-width: 100%;
                box-sizing: border-box;
                display: flex;

                .search-input {
                    border-radius: 3px 0 0 3px;
                }

                .search-button {
                    position: relative;
                    z-index: 2;
                    border-radius: 0 3px 3px 0;
                }

                .input-group-btn {
                    display: flex;
                }
            }

            .search-field,
            .search-button {
                line-height: 20px;
                box-sizing: border-box;
                font-weight: 400;
                min-width: 100px;

                @include media-breakpoint-down(xs) {
                    min-width: auto;
                }
            }

            .search-field,
            .search-input {
                &::placeholder,
                &:-ms-input-placeholder {
                    font-weight: 400;
                    color: #d8d8d8;
                    opacity: 1;
                }

                &:focus {
                    box-shadow: none;
                    border-color: $uxpl-blue-hover-active;
                }
            }

            .search-button {
                border-color: $base-color;
                color: $base-color;
                flex-shrink: 0;

                &:hover,
                &:focus,
                &.is-hovered,
                &.is-focused {
                    color: $white;
                    border-color: $uxpl-blue-hover-active;
                    background: $uxpl-blue-hover-active;
                }
            }
        }
    }

    #course-outline-block-tree {
        .outline-item {
            margin: 0;
        }

        .accordion-trigger {
            position: relative;
            padding-right: 35px;

            .fa-chevron-right {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);

                &.fa-rotate-90 {
                    transform: translateY(-50%) rotate(90deg);
                }

                @include rtl {
                    transform: translateY(-50%) rotate(180deg);

                    &.fa-rotate-90 {
                        transform: translateY(-50%) rotate(-90deg);
                    }
                }
            }
        }

        .outline-button {
            position: relative;
            padding-right: 35px;
            padding-left: 20px;

            &.accordion-trigger {
                padding-left: 40px;
            }

            .section-title {
                padding-left: 0;
            }

            .complete-checkmark {
                font-size: 16px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
            }
        }
    }
}

.has-breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:not(.btn) {
        &:hover,
        &:focus {
            text-decoration: underline !important;
        }

        &,
        &:visited {
            color: $base-color;

            &:hover {
                color: $uxpl-blue-hover-active;
            }
        }
    }
}

.staff-modal,
.history-modal,
.sga-block .modal.staff-modal {
    @extend %modal;
}

.search-results {
    .result-link,
    .result-excerpt,
    .search-load-next {
        color: $link-color;
    }

    .search-load-next {
        padding: 0 10px;
        text-align: center;
    }
}

.course-bookmarks .bookmarks-results-list .bookmarks-results-list-item {
    color: $link-color;

    &:hover {
        text-decoration: none;
        border-color: $link-hover;
        color: $link-hover;
    }

    &:focus {
        text-decoration: none;
    }

    &:before,
    .list-item-left-section .list-item-breadcrumbtrail,
    .bookmarks-results-list-item {
        color: inherit;
    }
}

.xblock.xmodule_display {
    #sequence-list li button {
        overflow: hidden;
    }

    .bookmark-button:not(:hover):not(:focus):not(:active) {
        color: $base-color;
    }

    &.xmodule_HtmlBlock {
        img {
            max-width: 100%;
            height: auto;

            @include media-breakpoint-down(sm) {
                display: block;
                margin: 0 auto 10px;
                float: none;
            }
        }

        #periodic-table-wrapper {
            max-width: 100%;
            overflow-x: auto;
        }

        @include only-for-IE {
            .zooming-image-place .loupe img {
                max-width: 100%;
                width: 1080px;
            }
        }

        #headerDiv,
        #contentDiv {
            @include clearfix();

            max-width: 100%;
        }

        #headerDiv a {
            margin: 0 5px;

            &:hover,
            &:focus {
                color: $link-hover;
            }
        }
    }

    &.xmodule_VideoBlock .video {
        .video-wrapper {
            @include media-breakpoint-down(sm) {
                margin: 0 auto 15px;
                width: 100%;
            }

            &:hover .btn-play:after {
                background: rgba(115, 133, 159, .5);
            }

            .btn-play {
                width: 68px;
                height: 48px;
                opacity: 1;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: calc(50% + 2px);
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 18px;
                    border-color: transparent transparent transparent $white;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: rgba(43, 51, 63, .7);
                    transition: background .4s ease;
                }
            }

            .video-player {
                @include media-breakpoint-down(sm) {
                    min-height: 150px;
                }
            }

            .video-player-pre,
            .video-player-post {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .video-controls {
                .control:active,
                .is-active.control,
                .active.control,
                .secondary-controls .toggle-transcript.is-active,
                .secondary-controls .quality-control.active {
                    color: $xblock-video-light !important;
                }

                .secondary-controls {
                    .menu-container .menu {
                        &.video-speeds {
                            width: 100%;
                        }

                        li.is-active {
                            .speed-option,
                            .control-lang {
                                color: $xblock-video-light;
                                border-color: $xblock-video-light;
                            }
                        }
                    }

                    .volume .volume-slider-container .volume-slider {
                        .ui-slider-range {
                            background: $xblock-video-dark;
                            border-color: $xblock-video-dark;
                        }

                        .ui-slider-handle,
                        .ui-slider-handle:hover,
                        .ui-slider-handle:focus {
                            background: $xblock-video-light;
                            border-color: $xblock-video-light;
                        }
                    }
                }

                .slider {
                    .ui-widget-header {
                        background: $xblock-video-dark;
                        border-color: $xblock-video-dark;
                    }

                    .ui-slider-handle,
                    .ui-slider-handle:hover,
                    .ui-slider-handle:focus {
                        background: $xblock-video-light;
                        border-color: $xblock-video-light;
                    }
                }
            }

            .closed-captions.is-visible {
                color: $xblock-video-light;
            }
        }

        .subtitles {
            @include media-breakpoint-down(sm) {
                margin: 0;
                width: 100%;
            }

            a,
            .subtitles-menu li {
                color: $base-color;
            }
        }
    }

    &.xmodule_ProblemBlock .problem {
        .imageinput + div,
        .wrapper-problem-response {
            padding: 3px;
            max-width: 100%;
            overflow-x: auto;
        }

        .wrapper-problem-response center {
            @include media-breakpoint-down(sm) {
                padding: 0;
                margin: 0;
                border: none;
            }
        }

        .inputtype.option-input {
            margin-top: 0;
        }

        button.btn-default:hover {
            background: $link-hover;
        }

        @include rtl {
            .capa_inputtype.imageinput [id^="answer_"] {
                left: auto;
                right: 0;
            }
        }

        @include rtl {
            .field-input {
                &.input-radio,
                &.input-checkbox {
                    margin: 5px 5px 5px 10px !important;
                }
            }
        }
    }

    &.xmodule_SequenceModule .sequence-nav-button {
        color: #333;

        &:hover {
            color: $base-color;

            @include media-breakpoint-down(xs) {
                color: $white;
            }
        }

        .icon {
            color: inherit !important;
        }
    }

    .xblock-student_view-openassessment .openassessment .openassessment__steps__step .step__status {
        @include media-breakpoint-down(sm) {
            display: inline-block;
        }
    }

    &.xmodule_StaticTabBlock {
        word-break: break-word;
    }
}

.section-update-message,
.all-updates {
    word-break: break-word;
}

.page-banner,
#course-container {
    .enroll-btn {
        border: none;
        padding: 0;
    }
}

.page-banner {
    width: 100%;
    max-width: calc(100% - 40px);

    .user-messages-ul li .alert.alert-warning .message-content .enroll-btn.btn-link {
        color: $link-color;
    }
}

.wrap-instructor-info {
    .content-wrapper &,
    .view-progress #course-info-progress & {
        @include media-breakpoint-down(sm) {
            @include clearfix();

            display: block;
            margin-bottom: 5px;
        }
    }

    a.instructor-info-action:not(.btn) {
        text-transform: none;
        color: $staff-color;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:visited,
        &:focus {
            color: $staff-color;
        }

        &:hover,
        &:visited:hover {
            color: $white;
        }
    }
}

body .xmodule_display.xmodule_SequenceBlock .sequence-nav-button {
    z-index: 0;

    &:hover {
        color: $base-color;

        .fa {
            color: $base-color !important;
        }
    }
}

.xblock .openassessment {
    .is--in-progress.openassessment__steps__step {
        border-top-color: $base-color;
    }

    .openassessment__steps__step.is--in-progress .step__status__value {
        background: $base-color;
    }

    .submission__answer__part__prompt__copy a,
    .message .message__content a {
        color: $link-color;

        &:hover,
        &:focus {
            color: $link-hover;
            border-color: $link-hover;
        }
    }

    .ui-slidable__container .ui-slidable:not([disabled]) {
        color: $base-color;

        &:hover,
        &:focus {
            color: $blue2;
        }
    }

    .list--actions .action--submit,
    .openassessment_student_info_form .action--submit-username {
        @include flat($base-color);
    }

    .action--submit,
    .step--self-assessment .self-assessment__assessment .action--save,
    .step--peer-assessment .peer-assessment__assessment .action--save,
    .step--response .delete__uploaded__file,
    .step--response .action--upload,
    .step--response .response__submission__actions .action--save,
    .step--response .response__submission__content .action--save {
        border: 1px solid $base-color;
        color: $base-color;

        &:hover,
        &:focus,
        &:active {
            background: $blue2;
            border-color: $blue2;
            color: $white;
        }

        &:disabled {
            border-color: #b4b3b3;
            color: #b4b3b3;
        }
    }

    .wrapper--staff-area .wrapper--staff-toolbar .ui-staff__button:not(.is--active):hover {
        background: $blue2;
    }

    .step--response .action--upload {
        @include media-breakpoint-down(sm) {
            float: none;
            margin-top: 0;
        }
    }

    .step--self-assessment .self-assessment__assessment,
    .step--peer-assessment .peer-assessment__assessment,
    .step--response .response__submission__actions,
    .step--response .response__submission__content {
        .action--save {
            @include media-breakpoint-down(xs) {
                min-width: 195px;
            }
        }
    }

    div.submission__answer__part__text__value:empty {
        display: none;
    }
}

.course-wrapper .course-content .xblock {
    &.xmodule_ProblemBlock,
    &.xmodule_HtmlBlock {
        font-size: 1rem;
    }
}

.view-in-course {
    .ui-widget-overlay {
        position: fixed;
    }

    .ora-confirmation-alert .ui-dialog-buttonpane {
        .ui-button,
        .ui-state-focus {
            @include flat($base-color);

            font: 400 14px/1.2 $font-family-sans-serif;
            padding: 5px 10px;
            box-shadow: none;
            text-shadow: none !important;
        }
    }
}
