.view-instructor_analytics {
    .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section,
    input[type="checkbox"]:checked + label .icon,
    input[type="checkbox"]:checked + .label-text .icon,
    .analytics-title.email-toggle-title {
        color: $base-color;
    }

    .js-datepicker-dropdown .date-range-picker-holder .js-date-cancel-btn:not(:hover) {
        background: none;
        color: $base-color !important;
    }

    .daterangepicker {
        td {
            &.active,
            &.active:hover {
                background: $base-color !important;
                text-shadow: none;
            }

            &.in-range {
                background: rgba($base-color, .4) !important;
            }

            &.in-range.start-date,
            &.in-range.end-date {
                background: $base-color !important;
            }
        }

        .calendar-table th {
            &.next:before,
            &.prev:before {
                background: $base-color;
            }
        }
    }

    .enrollment-toggle-btns__label input[type="radio"] {
        &:checked + .label-text:before {
            border-color: $base-color;
        }

        & + .label-text:after {
            background-color: $base-color;
        }
    }

    #activity-unit-visits-stats-plot .highcharts-axis-line {
        stroke: #313131;
    }

    .problem-emails-list .problem-emails-span,
    .subsection-emails-list .subsection-emails-span {
        .emails-list-button:hover {
            color: darken($base-color, 20%);
        }
    }

    .cohort-email-wrapper {
        border-color: $base-color;
    }

    .MuiButton-outlinedPrimary {
        color: $base-color;
        border-color: $base-color;

        &:hover {
            border-color: darken($base-color, 20%);
        }
    }

    .MuiButton-containedPrimary {
        background: $base-color;

        &:hover {
            background: darken($base-color, 20%);
        }
    }

    .page-control-scope .page-control-scope-item:hover:not(.MuiButton-containedPrimary) {
        background: rgba($base-color, .1);
    }
}
