@import "./files_and_uploads";

// custom buttons colors for the modal in video xblock

.xmodule_edit.xmodule_VideoBlock .editor-with-tabs .edit-header .editor-tabs .inner_tab_wrap a.tab {
    &:hover,
    &:focus,
    &.current {
        background: $base-color !important;
    }
}

// course name break words on the home page

.view-dashboard .course-item .course-link,
.view-certificates .actual-course-title {
    word-break: break-word;
}

// library buttons

.view-library .wrapper-mast .mast.has-navigation .nav-actions {
    top: initial;

    .button {
        font-size: 12px;
        line-height: 17px;
        padding-bottom: ($baseline / 3);
    }
}

// title color in a modal window

.wrapper-notification .copy .title,
.wrapper-alert .copy .title,
.prompt .copy .title {
    color: $white;

    span.fa-warning {
        color: $red-l1;
    }
}

// Modal Windows on Visual Editor

.mce-textbox {
    &:focus,
    &.mce-focus {
        box-shadow: inset 0 1px 1px rgba($black, .08), 0 0 8px rgba($base-color, .5);
        border-color: rgba($base-color, .5);
    }
}

.mce-primary {
    background: $base-color;
    border-color: $base-color;

    &:hover,
    &:focus,
    &:active {
        background: $base-color-hover;
        border-color: $base-color-hover;

        button {
            background: $base-color-hover;
            border-color: $base-color-hover;
        }
    }
}

.mce-menu-item {
    &:hover,
    &.mce-selected,
    &:focus {
        background: $base-color;
    }
}

.mce-grid-border {
    a:hover,
    a.mce-active {
        border-color: rgba($base-color, .5);
        background: rgba($base-color, .1);
    }
}

.mce-menu-item-normal.mce-active {
    background: rgba($base-color, .3);
}

#edit-image-modal #root.SFE {
    .btn-primary {
        &:hover,
        &:focus,
        &:active {
            background: $base-color-hover;
            border-color: $base-color;
            box-shadow: 0 0 0 .2rem rgba($base-color, .5);
        }

        &.disabled,
        &:disabled {
            background: rgba($base-color-hover, .5);
            border-color: rgba($base-color-hover, .5);

            * {
                background: none;
            }
        }
    }

    .page-item.active button.page-link {
        color: $white;
    }

    .page-link {
        color: $base-color;
    }

    .list-group-item.active {
        background: $base-color;
        border-color: $base-color;
    }
}

.ui-autocomplete li.ui-menu-item a.ui-state-focus {
    color: $black;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.xmodule_display.xmodule_VideoBlock .video {
    .subtitles .subtitles-menu li {
        &,
        a {
            color: $base-color;
        }
    }

    .video-wrapper {
        .btn-play {
            width: 68px;
            height: 48px;
            opacity: 1;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: calc(50% + 2px);
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 18px;
                border-color: transparent transparent transparent $white;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background: rgba(43, 51, 63, .7);
                transition: background .4s ease;
            }
        }

        &:hover .btn-play:after {
            background: rgba(115, 133, 159, .5);
        }

        .video-controls {
            .control:active,
            .is-active.control,
            .active.control {
                color: $xblock-video-light;
            }

            .secondary-controls {
                .toggle-transcript.is-active,
                .quality-control.active {
                    color: $xblock-video-light;
                }

                .menu-container .menu {
                    &.video-speeds {
                        width: 100%;
                    }

                    li.is-active {
                        .speed-option,
                        .control-lang {
                            color: $xblock-video-light;
                            border-color: $xblock-video-light;
                        }
                    }
                }
            }
        }

        .closed-captions.is-visible {
            color: $xblock-video-light;
        }
    }
}

// fix image proportions in HTML xBlock

.xmodule_display.xmodule_HtmlBlock img {
    height: auto;
}

// ORA branding

.xblock .openassessment {
    .is--in-progress.openassessment__steps__step {
        border-top-color: $base-color;
    }

    .openassessment__steps__step.is--in-progress .step__status__value {
        background: $base-color;
    }

    .submission__answer__part__prompt__copy a,
    .message .message__content a {
        color: $base-color;

        &:hover,
        &:focus {
            color: $base-color-hover;
            border-color: $base-color-hover;
        }
    }

    .ui-slidable__container .ui-slidable:not([disabled]) {
        color: $base-color;

        &:hover,
        &:focus {
            color: lighten($base-color, 10%);
        }
    }

    .list--actions .action--submit,
    .openassessment_student_info_form .action--submit-username {
        @include flat($base-color);

        font-size: 14px;
        padding: 10px 40px;
        font-weight: 600;
    }

    .action--submit,
    .step--self-assessment .self-assessment__assessment .action--save,
    .step--peer-assessment .peer-assessment__assessment .action--save,
    .step--response .delete__uploaded__file,
    .step--response .action--upload,
    .step--response .response__submission__actions .action--save,
    .step--response .response__submission__content .action--save {
        border: 1px solid $base-color;
        color: $base-color;

        &:hover,
        &:focus,
        &:active {
            background: lighten($base-color, 10%);
            border-color: lighten($base-color, 10%);
            color: $white;
        }

        &:disabled {
            border-color: #b4b3b3;
            color: #b4b3b3;
        }
    }

    .wrapper--staff-area .wrapper--staff-toolbar {
        .ui-staff__button {
            transition: all .2s ease;

            &:not(.is--active):hover {
                background: lighten($base-color, 10%);
            }
        }

        a.button-staff-studio {
            display: inline-block;
        }
    }

    .step--response .action--upload {
        @include media-breakpoint-down(sm) {
            float: none;
            margin-top: 0;
        }
    }

    .step--self-assessment .self-assessment__assessment,
    .step--peer-assessment .peer-assessment__assessment,
    .step--response .response__submission__actions,
    .step--response .response__submission__content {
        .action--save {
            @include media-breakpoint-down(xs) {
                min-width: 195px;
            }
        }
    }

    div.submission__answer__part__text__value:empty {
        display: none;
    }
}

.openassessment_modal_window #openassessment-editor {
    #oa_rubric_editor_wrapper .openassessment_criterion .openassessment_criterion_add_option,
    .openassessment_container_add_button:not(.is--disabled),
    #student_training_settings_editor .openassessment_add_training_example {
        color: $base-color;
        border-color: $base-color;

        &:hover {
            background: $base-color;
            color: $white;
        }
    }

    .openassessment_assessment_module_settings_editor {
        &:hover {
            border-color: $base-color;

            .drag-handle {
                background: $base-color !important;
                border-color: $base-color;
            }
        }

        .openassessment_view_details a {
            color: $base-color;
        }
    }
}

// ui date and time pickers

body {
    .ui-timepicker-list li {
        &:hover,
        &.ui-timepicker-selected {
            background: $base-color;
            color: $white;
        }
    }

    .ui-datepicker {
        .ui-state-default.ui-state-hover {
            background: lighten($base-color, 20%);
            border-color: lighten($base-color, 20%);
        }

        .ui-state-active {
            background: $base-color !important;
            border-color: $base-color !important;
        }

        .ui-datepicker-next-hover {
            right: 2px;
            top: 2px;
        }

        .ui-datepicker-prev-hover {
            left: 2px;
            top: 2px;
        }
    }
}

// problems

.xmodule_display.xmodule_ProblemBlock div.problem .action .problem-action-btn {
    max-width: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    color: lighten($base-color, 10%);

    &:hover {
        text-decoration: underline;
    }
}
