// our custom color and variables
$base-color: #c16800;
$base-color-hover: darken($base-color, 20%);

// xblocks
$xblock-video-light: #cb598d;

// overriding default values
$theme-colors: ("primary": $base-color);
$color-live: $base-color;
$blue: $base-color;
$blue-d1: $base-color;
$uxpl-blue-hover-active: $base-color-hover;
$blue-l3: $base-color-hover;

@import "edx-bootstrap/sass/open-edx/theme";

:root {
    --base-color: #{$base-color};
}
