<%page expression_filter="h"/>
<%!
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers
from openedx.core.djangolib.markup import HTML, Text
%>

<%def name="html_data()"><%
data = {
  "footerIcons": {
    "linkedin": {
      "href": "https://www.linkedin.com/company/philanthropyuniversity/",
      "src": "ico-linkedin"
    },
    "facebook": {
      "href": "https://www.facebook.com/philanthropyuniversity",
      "src": "ico-facebook"
    },
    "twitter": {
      "href": "https://twitter.com/philanthropyuni?lang=en",
      "src": "ico-twitter-x-circle"
    },
    "youtube": {
      "href": "https://www.youtube.com/channel/UCQ6qeELvsDgIt4VO2bP0TBw",
      "src": "ico-youtube"
    }
},
  "footerLinks": {
    "about": {
      "order": 1,
      "url": "https://www.philanthropyu.org/about-us",
      "text": Text(_('About')),
      "target_blank": True
    },
    "terms": {
      "order": 2,
      "url": "https://www.philanthropyu.org/terms-of-use",
      "text": Text(_('Terms of Use')),
      "target_blank": True
    },
    "privacy": {
      "order": 3,
      "url": "https://www.philanthropyu.org/privacy-policy",
      "text": Text(_('Privacy Policy')),
      "target_blank": True
    },
    "faq": {
      "order": 3,
      "url": "https://edx.readthedocs.io/projects/open-edx-learner-guide/en/open-release-quince.master/index.html",
      "text": Text(_('FAQ')),
      "target_blank": True
    }
  },
  "banner": {
    "title": Text(_("Welcome to Philanthropy University")),
    "description": Text(_("Free Courses For Social Impact Leaders"))
  },
  "site_variable": settings.FEATURES.get('BASE_SITE_THEME', settings.DEFAULT_SITE_THEME),
  "header_logo": "logo.svg",
  "footer_logo": "logo-footer.svg",
  "certificate_logo": "logo-certificate.svg",
  "footer_dark": True,
  "display_created_by_block": True
}
return data
%></%def>
