## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%namespace name='theme_config' file='../theme_config.html'/>

<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.programs.models import ProgramsApiConfig
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  show_program_listing = ProgramsApiConfig.is_enabled()
  self.real_user = getattr(user, 'real_user', user)
  enable_help_link = settings.FEATURES.get('ENABLE_HELP_LINK')

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="nav-links">
  <div class="main">
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
      <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
         aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
          ${_("Courses")}
      </a>
    </div>
    % if show_program_listing:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}"
            aria-current="${'page' if reverse('program_listing_view') == request.path else 'false'}">
            ${_("Programs")}
        </a>
      </div>
    % endif
    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if '/courses' in request.path else ''}tab-nav-link discover-new-link" href="${marketing_link('COURSES')}"
             aria-current="${'page' if '/courses' in request.path else 'false'}">
              ${_("Discover New")}
          </a>
      </div>
    % endif
  </div>
  <div class="secondary">
    % if header_language_selector_is_enabled():
      <% languages = released_languages() %>
      % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
          <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
          % if user.is_authenticated:
            <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
          % else:
            <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('update_language')}" data-user-is-authenticated="false">
          % endif
          <label>
            <span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
              % for language in languages:
                % if language[0] == LANGUAGE_CODE:
                  <option value="${language[0]}" selected="selected">${language[1]}</option>
                % else:
                  <option value="${language[0]}" >${language[1]}</option>
                % endif
              % endfor
            </select>
            <svg class="select-arrow-icon">
              <use xlink:href="/static/${theme_config.html_data()['site_variable']}/images/svg-sprite.svg#ico-arrow-down" />
            </svg>
          </label>
        </form>
      % endif
    % endif
    % if enable_help_link:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="help-link" href="${help_link}" rel="noopener" target="_blank">${_("Help")}</a>
      </div>
    % endif
    <%include file="user_dropdown.html"/>
  </div>
</div>
